:root {
  --mainColor: #1f1f1f;
  --whiteColor: #fff;
}

html {
  scroll-padding-top: 180px;
}

body {
  padding-top: 56px;
  position: relative;
}

.bg-mbus {
  background-color: var(--mainColor);
}

nav img {
  height: 150px;
}

.nav-item {
  text-transform: uppercase;
}

.mainPhotoArea {
  overflow: hidden;
}

.mainPhotoArea img {
  height: calc(100vh - 56px);
  width: 100%;
  object-fit: cover;
  object-position: 22%;
}

.aboutArea p {
  line-height: 200%;
}

.certificateArea img {
  width: 100%;
  opacity: 0.6;
}

.certificateArea img:hover {
  opacity: 1;
  cursor: zoom-in;
}

footer {
  text-align: center;
}

.contactArea {
  background-image: url("../img/bgContact.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  color: var(--whiteColor);
}

.contactOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #171717;
  opacity: 0.9;
}

.contactArea .row {
  position: relative;
  padding: 100px 0;
}

.contactArea h2 {
  font-size: 24px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-caption h5 {
  position: relative;
}

@media (min-width: 992px) {
  .mainPhotoArea img {
    height: calc(100vh - 160px);
  }

  body {
    padding-top: 160px;
  }
  .nav-item {
    padding: 0 20px;
  }
}
