@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --mainColor: #1f1f1f;
  --whiteColor: #fff;
  --hoverColor: rgb(255, 197, 82);
}

html {
  scroll-padding-top: 50px;
}

body {
  padding-top: 56px;
  position: relative;
}

.bg-mbus {
  background-color: var(--mainColor);
}

nav img {
  height: 150px;
  transition: height 0.2s, opacity 1s 0.3s;
}

.nav-item {
  text-transform: uppercase;
}

.nav-link:hover {
  color: var(--hoverColor) !important;
}

.mainPhotoArea {
  overflow: hidden;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
}

.mainPhoto {
  height: calc(100vh - 56px);
  width: 100%;
  object-fit: cover;
  object-position: 22%;
}

.headerLogo {
  width: 70vmin;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  z-index: 200;
  opacity: 0.9;
}

.aboutArea p {
  line-height: 200%;
}

.certificateArea img {
  width: 100%;
  opacity: 0.6;
}

.certificateArea img:hover {
  opacity: 1;
  cursor: zoom-in;
}

footer {
  text-align: center;
}

.contactArea {
  background-image: url("../img/bgContact.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  color: var(--whiteColor);
}

.contactArea a {
  text-decoration: none;
  color: #fff;
}

.contactOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #171717;
  opacity: 0.9;
}

.contactArea .row {
  position: relative;
  padding: 100px 0;
}

.contactArea h2 {
  font-size: 24px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-caption h5 {
  position: relative;
}

@media (min-width: 992px) {
  .mainPhotoArea img {
    height: calc(100vh - 160px);
  }

  body {
    padding-top: 160px;
  }
  .nav-item {
    padding: 0 20px;
  }
}

#about,
#services,
#contact {
  padding-top: 50px;
  margin-top: -50px;
}

.hideLogo {
  height: 56px;
  opacity: 0;
  transition: opacity 0.2s, height 0.6s 0.1s;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f8f8f8' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f8f8f8' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
